body {
    display: grid;
    grid-template-columns: auto auto;
	grid-template-areas: 
            "header header header"
            "nav main main"
            "footer footer footer";
    grid-template-rows: auto 1fr 80px;
}


header {
	font-size: 1.5em;
	text-align: center;
	background-color: #eee;
	grid-area: header;
}

footer {
	max-height: 10vh;
	font-size: 1.5em;
	text-align: center;
	background-color: #eee;
	grid-column: auto;
	grid-area: footer;
}

nav {
	background-color: #eee;
	grid-area: nav;
}

profile {
	background-color: #eee;
	grid-area: profile;
	text-align: center;
}

main {
    display: grid;
	min-height: 75vh;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto 1fr;
	grid-area: main;
	
}

header {
	grid-column: 1 / -1;
}

button {
	color: white;
	background-color: #0080FF;
	font-size: 1.5em;
	padding: 1.0em 1.0em;
	border: none;
	border-radius: 10%;
	margin-top: 5%;
}

button2 {
	display:inline-block;
	color: white;
	background-color: #0080FF;
	font-size: 1.5em;
	padding: 1.5em 1.5em;
	border: none;
	border-radius: 10%;
	margin-top: 5%;
	float: left;
	inline;
}

button3 {
	display:inline-block;
	color: white;
	background-color: #0080FF;
	font-size: 1.5em;
	padding: 0.5em 0.5em;
	min-width:100px;
	min-height:30px;
	max-width:135px;
	max-height:30px;
	border: none;
	border-radius: 10%;
	margin-top: 1%;
}